.navbar{
    width: 100%;
    height: 70px;
    background-color: black;
    padding: 0px;
    margin: 0px;

}
.navbar ul li a{
    text-decoration: none;
}
.navbar ul li {
    list-style: none;
    
    float: left;
    padding: 30px 30px;
}
.navbar ul li:hover{  
    background-color: aliceblue;


}
.box{
    width: 300px;
    height: 400px;
    background-color: rgb(50, 87, 75);
    margin-top: 30px;
}
.box:hover{background-color: aqua;
    opacity: .5;

}
